<p>This is the instance variable @bob in the initial state: <% @bob %></p>

<p>This is executing and returning using erb tags with equal sign: <%= @bob += " (Not using equals in erb)" %></p>

<p>This is only executing using erb tags without equal sign <% @bob += "(Not using equals in erb)" %></p>